<q-input v-model="data.apptDateLookup.params.date" mask="date" :rules="['date']" class="q-mt-md">
    <template v-slot:prepend>
        <q-icon name="date_range" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                <q-date @input="() => $refs.qDateProxy.hide()" mask="DD-MM-YYYY"
                        v-model="data.apptDateLookup.params.date" :options="date => date >= '2019/05/23'"></q-date>
            </q-popup-proxy>
        </q-icon>
    </template>
</q-input>
